<head>
    <!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-color: lightgray;">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <div class="d-inline mb-0"></div>
        <div class="d-inline mb-0 ms-5 ps-4">
            <span class="navbar-brand h1">Dungeoneer's Flask</span>
        </div>
        <div class="d-inline mb-0 pe-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col" style="background-color: aqua;"></div>
            <div class="col text-center m-3 mt-4">
                <form>
                    <button type="submit" class="btn btn-dark btn-lg" formaction="/new-character">New Character</button>
                </form>
            </div>
            <div class="col" style="background-color: aqua;"></div>
        </div>
        {% for sheet in data.user_sheets %}
        <div class="row">
            <form action="/character-sheet" method="POST">
                <input type="hidden" name="sheet" value={{sheet[0]}}>
                <input type="submit" name="{{sheet[1]}}" value="Enter Sheet">
                <input type="submit" formaction="/delete-character" name="DelChar" value="Delete Character">
                <label for="{{sheet[1]}}">{{sheet[1]}}</label>
            </form>
        </div>
        {% endfor %}
    </div>
    
</body>